.quiz-page {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  &__quiz {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    overflow-y: auto;
    &__header {
      &__progress-indicator-number {
        display: flex;
        flex-direction: column;
        gap: 2px;
        &__label {
          font-size: small;
          font-weight: 500;
        }
        &__info {
          font-size: larger;
        }
      }
    }
    &__test {
      display: flex;
      flex-direction: column;
      gap: 24px;
      &__question {
        padding: 24px;
        font-weight: 800;
        background: #fcdef8;
        border-radius: 12px;
        border: 2px solid #f5bff1;
      }
      &__options-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &__li {
          &__button {
            padding: 12px 24px;
            width: 100%;
            background: white;
            border: none;
            &--selected {
              background: #e3e0f3;
              border: 1px solid var(--color-primary);
            }
          }
        }
      }
    }
  }
  &__footer {
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 500;
      background: var(--color-primary);
      color: white;
    }
  }
}

.quiz-page-result {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    &__score-title {
      font-size: small;
      font-weight: 500;
    }
    &__score {
      padding-bottom: 16px;
      width: 100%;
      font-weight: 500;
      font-size: 32px;
      color: var(--color-primary);
      border-bottom: 1px solid var(--color-dark-grey);
    }
    &__message {
      font-weight: 800;
      font-size: 32px;
      color: var(--color-primary);
    }
  }
  &__footer {
    &__link {
      padding: 16px 16px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 500;
      background: var(--color-primary);
      color: white;
      border-radius: 12px;
    }
  }
}
