.app-layout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__main {
    margin-bottom: 24px;
    flex: 1;
    overflow-y: auto;
    > * {
      animation: appear 0.3s ease-in-out;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .app-layout {
    flex-direction: row-reverse;
    &__main {
      margin-bottom: 24px;
      flex: 1;
      overflow-y: auto;
    }
  }
}