.button {
  padding: 12px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: none;
  outline: none;
  transition: 200ms ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  &--light {
    color: var(--color-text);
    background: white;
    border: 1px solid var(--color-text);
  }
  &--dark {
    background: var(--color-text);
    color: var(--color-background);
  }
  &--primary {
    background: var(--color-primary);
    color: var(--color-background);
    border: 1px solid var(--color-primary);
  }
  &--small {
    padding: 8px 24px;
    max-width: max-content;
  }
  &--medium {
    padding: 12px 16px;
    gap: 12px;
    max-width: max-content;
  }
  &--large {
    padding: 12px 24px;
    gap: 12px;
    max-width: max-content;
  }
  &--center {
    justify-content: center;
    align-items: center;
  }
  &--none {
    padding: 0;
    border: none;
    background: none;
    border-radius: none;
    color: var(--color-primary);
  }
}
