.bank-config-form {
  padding: 24px 0;
  border-top: 1px solid var(--color-dark-grey);
  border-bottom: 1px solid var(--color-dark-grey);
  &__title {
    margin-bottom: 24px;
    font-size: larger;
    font-weight: 500;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &__button {
      align-self: flex-end;
    }
  }
}
